@use '../../../../library';

:host {
  background-color: library.$primary-green;
  display: flex;
  align-items: center;
  height: 5%;
  width: 100%;
}

.nav-bar {
  padding-left: 2%;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.afc-logo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.afc-logo {
  width: 30px;
}

.nav-bar-content {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 100%;
  width: calc(100% / 5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  border-top: 5px solid #161519;
}